.button,
.button--animation-button {
  padding: 0.5em 1em;
  border-style: none;
  margin: 0.5em;
  font-size: 2rem;
  border-radius: 50px;
  background: transparent;
  box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.25), -3px -3px 5px rgba(255, 255, 255, 1);
  transition: all 0.25s 0s ease-in-out;
  color: rgba(128, 128, 128, 0.5);
  letter-spacing: 2.5px;
  opacity: 0;
}
.button {
  animation: showButton 3s 2s ease-in-out forwards;
  /* animation: showButton 3s 2s ease-in-out forwards, moveLeft 5s 5s ease forwards; */
}
.button:hover {
  box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.35), -3px -3px 5px rgba(255, 255, 255, 1);
}
.button:active {
  box-shadow: inset 3px 3px 5px rgba(128, 128, 128, 0.35),
    inset -3px -3px 5px rgba(255, 255, 255, 1);
}

.button--animation-button {
  animation: expandButton 5s 1s ease-in-out forwards;
}

/* animation */
@keyframes showButton {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes expandButton {
  0% {
    opacity: 0;
    position: absolute;
    right: -100%;
    top: 0;
    border-radius: 0;
    box-shadow: inset 1px 1px 15px rgba(128, 128, 128, 0.15), inset -3px -3px 5px rgb(255 255 255);
    width: 0;
    text-align: right;
    cursor: text;
  }
  50% {
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 10px;
    box-shadow: inset 1px 1px 15px rgba(128, 128, 128, 0.15), inset -3px -3px 5px rgb(255 255 255);
    width: 250px;
    text-align: right;
    cursor: text;
  }
  100% {
    opacity: 1;
    position: absolute;
    right: 0.5em;
    top: 0;
    border-radius: 20px;
    box-shadow: inset 2px 2px 5px rgba(128, 128, 128, 0.1), inset -3px -3px 5px rgb(255 255 255);
    width: 500px;
    text-align: right;
    cursor: text;
  }
}
