* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  transition: all 0.25 0s ease-in-out;
}
button,
[type='button'],
[href] {
  cursor: pointer;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: none; /* no underline */
}

body {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(128, 128, 128, 0.15));
  height: 100vh;
  font-family: 'Architects Daughter', cursive;
  font-size: 16px;
}

.container {
  height: 100%;
  display: grid;
  grid-template-areas:
    'header'
    'section'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: auto 5fr 1fr;
}

.text-inset-shadow {
  background-color: #666666;
  background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5), 0px -1px 1px rgba(0, 0, 0, 0.5);
}

.text-box-shadow {
  letter-spacing: 20px;
  color: rgb(245 245 245);
  text-shadow: -7.5px 0px 7.5px rgba(255, 255, 255, 1), 2.5px 0px 5px rgba(128, 128, 128, 0.5),
    0px -2.5px 5px rgba(128, 128, 128, 0.5), 0px -7.5px 7.5px rgba(255, 255, 255, 1);
}

/* #region footer  */
.container > .footer {
  grid-area: footer;
  padding: 0.5em;
}
.container > .footer > .text-by {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  letter-spacing: 5px;
  font-size: 0.75rem;
  opacity: 0;
  animation: showFooterBy 2s 8s ease-in-out forwards;
}

@keyframes showFooterBy {
  50% {
    opacity: 1;
    transform: translateY(-200px);
  }
  100% {
    opacity: 0.5;
    transform: translateY(0px);
  }
}
/* #endregion  */

/* ============================================================== */

/* #region HEADER */
.container > .header {
  grid-area: header;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}
.container > .header > .title {
  font-size: 6.5em;
  letter-spacing: 10px;
  opacity: 0;
}
.container > .header > .title {
  animation: showTitle 5s 0s ease-in-out forwards;
}
@keyframes showTitle {
  100% {
    opacity: 1;
    letter-spacing: 25px;
  }
}
/* #endregion  */

/* #region section  */
.container > .section {
  grid-area: section;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container > .section > .icon {
  position: relative;
  cursor: pointer;
  font-size: 12em;
  opacity: 0;
  animation: showIcons 3s 3s ease-in-out forwards;
}
.container > .section > .icon > .icon-github:hover {
  color: black;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.container > .section > .icon > .icon-github:hover::after {
  content: 'github';
  position: absolute;
  bottom: 15px;
  left: 0;
  font-size: 1rem;
  letter-spacing: 10px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  opacity: 0.5;
}

.container > .section > .icon > .icon-person:hover {
  color: rgba(128, 128, 128, 0.5);
  text-shadow: 5px 5px 10px rgba(128, 128, 128, 0.5);
}
.container > .section > .icon > .icon-person:hover:after {
  content: 'about me';
  color: rgba(128, 128, 128, 0.5);
  position: absolute;
  bottom: 15px;
  left: 0;
  font-size: 1rem;
  letter-spacing: 5px;
  font-weight: 600;
  text-shadow: none;
}

.container > .section > .icon > .icon-linkedIn:hover {
  color: rgba(10, 102, 194, 1);
  text-shadow: 5px 5px 10px rgba(10, 102, 194, 0.5);
}
.container > .section > .icon > .icon-linkedIn:hover:after {
  content: 'linkedin';
  color: rgba(10, 102, 194, 0.5);
  position: absolute;
  bottom: 15px;
  left: 0;
  font-size: 1rem;
  letter-spacing: 5px;
  font-weight: 600;
  text-shadow: none;
}

.container > .section > .icon > .icon-contactMe:hover {
  color: rgb(250, 150, 50);
  text-shadow: 5px 5px 10px rgba(250, 150, 50, 0.5);
}
.container > .section > .icon > .icon-contactMe:hover::after {
  content: 'contact me';
  color: rgba(250, 150, 50, 0.5);
  position: absolute;
  bottom: 15px;
  left: 0;
  font-size: 1rem;
  letter-spacing: 5px;
  font-weight: 600;
  text-shadow: none;
}

@keyframes showIcons {
  0% {
    opacity: 0;
    text-shadow: -7px -7px 10px rgba(255, 255, 255, 1), 5px 0px 10px rgba(128, 128, 128, 0.5),
      0px -1px 0px rgba(128, 128, 128, 0.5), 0px -10px 10px rgba(255, 255, 255, 1);
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.8;
  }
}
/* #endregion  */
