/* #region MAIN */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  transition: all 0.25 0s ease-in-out;
  font-family: "Josefin Sans", sans-serif;
}
button,
[type="button"],
[type="submit"],
[href] {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  /* background: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(128, 128, 128, 0.15)); */
  background: rgb(250, 250, 250);
  height: 100vh;
  font-size: 16px;
}

li {
  list-style: none;
}
/* #endregion */

/* #region LAYOUT */
body {
  display: grid;
  grid-template-areas:
    "header"
    "section"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 4rem calc(100vh - 4rem - 4rem) 4rem;
}

body > header {
  position: relative;
  grid-area: header;
}
body > section {
  position: relative;
  font-size: 10em;
  grid-area: section;
  z-index: 0;
}
body > footer {
  grid-area: footer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  border-top: 1px solid rgba(128, 128, 128, 0.15);
  filter: blur(5px);
}
.footer__show {
  animation: footer__unblur 6s 0s ease-in forwards;
}
@keyframes footer__unblur {
  100% {
    border-top: 1px solid rgba(128, 128, 128, 0.15);
    filter: blur(0);
  }
}
/* #endregion */

/* #region BUTTON WHO AM I */
.btn__whoAmI {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% / 2 - 4rem);
  margin: auto;
  height: 4rem;
  opacity: 1;
  display: block;
  padding: 1rem 2rem;
  border-style: none;
  font-size: 2rem;
  background: rgb(245 245 245);
  box-shadow: -5px -5px 5px white, 3px 3px 10px rgba(128, 128, 128, 0.5);
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-radius: 50px;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5),
    0px -1px 1px rgba(0, 0, 0, 0.5);
}
.btn__whoAmI:active {
  box-shadow: inset -5px -5px 5px white,
    inset 3px 3px 10px rgba(128, 128, 128, 0.5);
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5),
    0px -1px 1px rgba(0, 0, 0, 0.25);
}

.btn__whoAmI__move {
  animation: animation-button 2s 0s ease-out forwards,
    animation-button-scale 2s 2s ease-out forwards;
}
@keyframes animation-button {
  0% {
    opacity: 0.5;
  }
  30% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.05;
    transform: scale(1);
  }
  70% {
    opacity: 0.25;
  }
  90% {
    opacity: 0.75;
  }
  100% {
    top: -3rem;
    opacity: 1;
  }
}
@keyframes animation-button-scale {
  100% {
    transform: scale(0.75);
  }
}
/* #endregion BUTTON WHO AM I */

/* #region TEXT SLAVE OF THE CODE */
.text__slaveOfTheCode {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  height: fit-content;
  width: fit-content;
  font-size: 10.5rem;
}
.text__slaveOfTheCode__show {
  animation: animation-container-text 3s 2s ease-in forwards,
    moveLeftContainer 2s 4s ease-in forwards;
}
@keyframes animation-container-text {
  0% {
    opacity: 0;
    z-index: -1;
  }
  100% {
    opacity: 1;
    z-index: 0;
  }
}
@keyframes moveLeftContainer {
  100% {
    opacity: 1;
    transform: translateX(-65%);
  }
}
/* #endregion */

/* #region LINE SEPARATE */
.line__separate {
  position: absolute;
  height: 0%;
  width: 1px;
  background: rgba(128, 128, 128, 0.25);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  z-index: -2;
}
.line__separate__show {
  opacity: 0.25;
  animation: line__separate__show 1.5s 6s ease-in-out forwards,
    line__separate__back 1.5s 9s ease-in-out forwards;
}
@keyframes line__separate__show {
  0% {
    opacity: 0;
    height: 0%;
  }
  25% {
    opacity: 0.25;
    height: 5vh;
  }
  50% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.75;
    height: 75vh;
    box-shadow: 5px 0 20px 5px rgba(128, 128, 128, 0.85);
  }
  100% {
    opacity: 0.75;
    height: 70vh;
    box-shadow: 3px 0 15px 3px rgba(128, 128, 128, 0.85);
  }
}
@keyframes line__separate__back {
  100% {
    opacity: 0.75;
    height: 70vh;
    box-shadow: -5px 0 15px 3px rgba(128, 128, 128, 1);
  }
}
/* #endregion */

/* #region CLASS */
.text-shadow {
  letter-spacing: 20px;
  color: rgb(245 245 245);
  text-shadow: -7.5px 0px 7.5px rgba(255, 255, 255, 1),
    2.5px 0px 5px rgba(128, 128, 128, 0.5),
    0px -2.5px 5px rgba(128, 128, 128, 0.5),
    0px -7.5px 7.5px rgba(255, 255, 255, 1);
}
/* #endregion */

/* #region DETAILS */
.details__container__background {
  opacity: 1;
  position: absolute;
  height: 85%;
  width: 30%;
  background: rgb(250, 250, 250);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: -2;
  transform: translateX(-50%);
  border-radius: 25px;
}
.details__container {
  opacity: 0;
  position: absolute;
  height: 75%;
  width: 30%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: -3;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}
.details__container__show {
  animation: details__container__show 3s 7s ease-in forwards;
}
@keyframes details__container__show {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(65%);
  }
}
.details__container__list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.details__container__list > li {
  margin: 1rem 0;
  width: 300px;
  height: 4rem;
  padding: 0.5em 1em;
  border-style: none;
  font-size: 2rem;
  background: rgb(245 245 245);
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-radius: 50px;
  color: transparent;
  box-shadow: inset -5px -5px 5px white,
    inset 3px 3px 10px rgba(128, 128, 128, 0.5);
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5),
    0px -1px 1px rgba(0, 0, 0, 0.25);
  filter: blur(3px);
  animation: details__container__list_blur 1s 11s ease-in forwards;
}
@keyframes details__container__list_blur {
  100% {
    filter: blur(0);
    z-index: 0;
  }
}
/* #endregion */

/* #region SSL LOGO */
.ssl__logo {
  position: fixed;
  bottom: 4px;
  left: 10px;
  filter: grayscale(1);
  opacity: 0.5;
  display: flex;
  align-items: center;
}
.ssl__logo:hover {
  filter: grayscale(0);
  opacity: 0.85;
}
/* #endregion */

/* #region ICONS */
.icon__github,
.icon__linkedin,
.icon__aboutme,
.icon__contact {
  transition: all 0.25 0s ease-in-out;
}
.icon__github:hover > i {
  color: rgba(0, 0, 0, 1);
}
.icon__linkedin:hover > i {
  color: rgba(10, 100, 200, 1);
}
.icon__aboutme:hover > i {
  color: rgba(255, 165, 5, 1);
}
.icon__contact:hover > i {
  color: rgba(155, 155, 5, 1);
}
/* #endregion */

/* #region MEDIAQUERIES */
@media screen and (max-width: 1000px) and (max-height: 1000px) {
  .text__slaveOfTheCode {
    top: 5rem;
    bottom: auto;
    width: 100%;
    font-size: 7rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .text-shadow {
    letter-spacing: 10px;
  }
  @keyframes moveLeftContainer {
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  .line__separate {
    display: none;
  }
  .details__container__background {
    display: none;
  }

  .details__container {
    width: 100%;
    transform: translateX(0%);
  }
  @keyframes details__container__show {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.8;
      transform: translateY(60px);
    }
    75% {
      opacity: 0.9;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .details__container__show {
    animation: details__container__show 0.5s 4s ease-in-out forwards;
  }
  .details__container__list > li {
    animation: details__container__list_blur 1s 4s ease-in forwards;
  }
}

@media screen and (max-width: 1350px) and (max-height: 648px) {
  html,
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 1264px) and (max-height: 680px) {
  html,
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
  html,
  body {
    font-size: 13px;
  }
}
/* 5 */
@media screen and (max-width: 1024px) and (max-height: 768px) {
  html,
  body {
    font-size: 13px;
  }
}

/* 4 */
@media screen and (max-width: 768px) and (max-height: 1280px) {
  .text__slaveOfTheCode {
    display: flex;
    justify-content: center;
    font-size: 9rem;
    top: 2rem;
    bottom: auto;
    flex-wrap: wrap;
  }
  @keyframes moveLeftContainer {
    100% {
      opacity: 1;
      filter: drop-shadow(7px 3px 5px rgba(128, 128, 128, 0.25));
    }
  }

  .line__separate {
    display: none;
  }

  .details__container__background {
    display: none;
  }

  .details__container__show {
    animation: details__container__show 1s 4s ease-in forwards;
  }
  .details__container {
    width: 100%;
    right: auto;
    transform: translateX(-100%);
  }
  @keyframes details__container__show {
    0% {
      opacity: 0.5;
    }
    80% {
      opacity: 0.85;
      transform: translateX(10%);
    }
    90% {
      opacity: 1;
      transform: translateX(-5%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  .details__container__list > li {
    animation: details__container__list_blur 1s 5s ease-in forwards;
  }
}

/* 3 */
@media screen and (max-width: 640px) and (max-height: 960px) {
  html,
  body {
    font-size: 14px;
  }

  .text__slaveOfTheCode {
    width: 95%;
  }

  .details__container__list {
    padding-top: 10rem;
  }
}

/* 2 */
@media screen and (max-width: 520px) and (max-height: 800px) {
  html,
  body {
    font-size: 13px;
  }

  .text__slaveOfTheCode {
    font-size: 8rem;
    top: 4rem;
  }
  .details__container__list {
    padding-top: 17rem;
  }

  .ssl__logo {
    flex-direction: column;
  }
}

/* 1 */
@media screen and (max-width: 520px) and (max-height: 480px) {
  html,
  body {
    font-size: 10px;
  }
  .text__slaveOfTheCode {
    font-size: 6rem;
    top: 2rem;
  }

  .details__container__list {
    padding-top: 13rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .details__container__list > li {
    width: 75%;
  }

  .ssl__logo {
    bottom: 0px;
    transform: scale(0.75);
  }
}

@media screen and (max-width: 320px) and (max-height: 568px) {
  html,
  body {
    font-size: 10px;
  }

  body > footer {
    justify-content: flex-end;
  }

  .ssl__logo {
    flex-direction: column;
    left: 0;
    transform: scale(0.75);
  }

  .text__slaveOfTheCode {
    font-size: 6rem;
  }

  .details__container__list {
    width: 100%;
    align-items: center;
  }
  .details__container__list > li {
    width: 75%;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  html,
  body {
    font-size: 10px;
  }

  body > footer {
    justify-content: flex-end;
  }

  .ssl__logo {
    flex-direction: column;
    left: 0;
    transform: scale(0.75);
  }

  .details__container__list {
    width: 100%;
    align-items: center;
  }
  .details__container__list > li {
    width: 75%;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  html,
  body {
    font-size: 12px;
  }

  body > footer {
    justify-content: flex-end;
  }

  .ssl__logo {
    flex-direction: column;
    left: 0;
    transform: scale(0.75);
  }

  .details__container__list {
    width: 100%;
    align-items: center;
  }
  .details__container__list > li {
    width: 75%;
  }
}

/* ----------- iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  html,
  body {
    font-size: 12px;
  }
  .details__container__list {
    padding-top: 24rem;
  }
}

/* ----------- Moto G4 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 3) {
  html,
  body {
    font-size: 12px;
  }
  .text__slaveOfTheCode {
    font-size: 6rem;
  }
  .details__container__list {
    align-items: center;
  }

  .details__container__list > li {
    width: 75%;
  }

  body > footer {
    justify-content: flex-end;
  }
}

/* #endregion */
