@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

:root {
  --background--color: rgba(250, 250, 250, 1);
  --bar--separate--color: rgba(128, 128, 128, 0.15);
  --font--family: "Josefin Sans", sans-serif;
  --font--size: 16px;

  --shadow--letter--color: rgba(245, 245, 245, 1);
  --shadow--text--1: -7.5px 0px 7.5px rgba(255, 255, 255, 1);
  --shadow--text--2: 2.5px 0px 5px rgba(128, 128, 128, 0.5);
  --shadow--text--3: 0px -2.5px 5px rgba(128, 128, 128, 0.5);
  --shadow--text--4: 0px -7.5px 7.5px rgba(255, 255, 255, 1);
}

/* #region MAIN */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  transition: all 0.25 0s ease-in-out;
  font-family: var(--font--family);
}
button,
[type="button"],
[type="submit"],
[href] {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  background: var(--background--color);
  height: 100vh;
  font-size: var(--font--size);
}

li {
  list-style: none;
}
/* #endregion */

/* #region LAYOUT */
body {
  display: grid;
  grid-template-areas:
    "header"
    "section"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 3rem calc(100vh - 3rem - 4rem) 4rem;
}

body > header {
  grid-area: header;
  position: relative;
}
body > section {
  grid-area: section;
  position: relative;
  z-index: 0;
}
body > footer {
  grid-area: footer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--bar--separate--color);
}
.footer__by {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10%;
  filter: blur(5px);
  animation: footer__unblur 1.5s 0s ease-in forwards;
}
@keyframes footer__unblur {
  100% {
    filter: blur(0);
  }
}
/* #endregion */

/* #region CLASS */
.text-shadow {
  color: var(--shadow--letter--color);
  text-shadow: var(--shadow--text--1), var(--shadow--text--2),
    var(--shadow--text--3), var(--shadow--text--4);
}
/* #endregion */

/* #region HOME__CONTAINER */
.home__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* #endregion */

/* #region TEXT SLAVE OF THE CODE */
.text__slaveOfTheCode {
  font-size: 12rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background: var(--background--color);
  z-index: 2;
}
.text__slaveOfTheCode > p {
  letter-spacing: 32px;
  opacity: 0;
  animation: showWords 0.5s 0s ease-in forwards,
    showShadows 2s 0s ease-in forwards;
}
@keyframes showWords {
  100% {
    opacity: 0.25;
    color: var(--shadow--letter--color);
    text-shadow: -0.5px 0px 0.5px rgba(255, 255, 255, 1),
      0.5px 0px 2px rgba(128, 128, 128, 0.5),
      0px -0.5px 2px rgba(128, 128, 128, 0.5),
      0px -0.5px 0.5px rgba(255, 255, 255, 1);
  }
}
@keyframes showShadows {
  70% {
    opacity: 0.5;
    color: var(--shadow--letter--color);
    text-shadow: var(--shadow--text--1), var(--shadow--text--2),
      var(--shadow--text--3), var(--shadow--text--4);
  }
  100% {
    opacity: 1;
    color: var(--shadow--letter--color);
    text-shadow: -7.5px 0px 7.5px rgba(255, 255, 255, 1),
      2.5px 0px 5px rgba(128, 128, 128, 0.5),
      0px -2.5px 5px rgba(128, 128, 128, 0.5),
      0px -7.5px 7.5px rgba(255, 255, 255, 1);
  }
}
/* #endregion */

/* #region DETAILS */
.links__list {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.links__list > li {
  width: 50%;
  border-radius: 50px;
  box-shadow: inset -5px -5px 5px white,
    inset 3px 3px 10px rgb(128 128 128 / 50%);
  text-shadow: 0px 3px 3px rgb(255 255 255 / 50%), 0px -1px 1px rgb(0 0 0 / 25%);
  color: transparent;
  border-left: 1px solid white;
  border-top: 1px solid white;
  font-size: 2.5rem;
  min-height: 4rem;
  height: 5rem;
  padding: 1rem 3rem;
  margin: 16px 0;
  /* color: transparent; */
  display: flex;
  align-items: center;
  position: relative;
}
.links__list > li > a {
  display: flex;
  align-items: center;
  transform: translateX(-150%);
  z-index: -1;
  animation: moveLinks 1s 0s ease-in forwards;
  opacity: 0;
}
@keyframes moveLinks {
  60% {
    opacity: 0.15;
    transform: translateX(20%);
    z-index: 0;
  }
  70% {
    opacity: 0.25;
    transform: translateX(-10%);
    z-index: 0;
  }
  80% {
    opacity: 0.5;
    transform: translateX(10%);
    z-index: 0;
  }
  90% {
    opacity: 0.75;
    transform: translateX(-5%);
    z-index: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    z-index: 0;
  }
}

.links__list > li > a > small {
  margin: 10px 1rem 0 1rem;
}
/* #endregion */

/* #region ICONS */
.icon__github,
.icon__linkedin,
.icon__aboutme,
.icon__contact {
  transition: all 0.25 0s ease-in-out;
}
.icon__github:hover > i {
  color: rgba(0, 0, 0, 1);
}
.icon__linkedin:hover > i {
  color: rgba(10, 100, 200, 1);
}
.icon__aboutme:hover > i {
  color: rgba(255, 165, 5, 1);
}
.icon__contact:hover > i {
  color: rgba(155, 155, 5, 1);
}
/* #endregion */

/* #region MEDIAQUERIES */
@media screen and (max-width: 1100px) and (max-height: 1000px) {
  .text__slaveOfTheCode {
    top: 2rem;
    bottom: auto;
    width: 90%;
    font-size: 10rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .text-shadow {
    letter-spacing: 10px;
  }
  @keyframes moveLeftContainer {
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  .line__separate {
    display: none;
  }
  .details__container__background {
    display: none;
  }

  .details__container {
    width: 100%;
    transform: translateX(0%);
  }
  @keyframes details__container__show {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.8;
      transform: translateY(60px);
    }
    75% {
      opacity: 0.9;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .details__container__show {
    animation: details__container__show 0.5s 4s ease-in-out forwards;
  }
  .details__container__list > li {
    animation: details__container__list_blur 1s 4s ease-in forwards;
  }
}

@media screen and (max-width: 1350px) and (max-height: 648px) {
  html,
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 1264px) and (max-height: 680px) {
  html,
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
  html,
  body {
    font-size: 13px;
  }
}
/* 5 */
@media screen and (max-width: 1024px) and (max-height: 768px) {
  html,
  body {
    font-size: 13px;
  }
}

/* 4 */
@media screen and (max-width: 768px) and (max-height: 1280px) {
  .text__slaveOfTheCode {
    display: flex;
    justify-content: center;
    font-size: 9rem;
    top: 2rem;
    bottom: auto;
    flex-wrap: wrap;
  }
  @keyframes moveLeftContainer {
    100% {
      opacity: 1;
      filter: drop-shadow(7px 3px 5px rgba(128, 128, 128, 0.25));
    }
  }

  .line__separate {
    display: none;
  }

  .details__container__background {
    display: none;
  }

  .details__container__show {
    animation: details__container__show 1s 4s ease-in forwards;
  }
  .details__container {
    width: 100%;
    right: auto;
    transform: translateX(-100%);
  }
  @keyframes details__container__show {
    0% {
      opacity: 0.5;
    }
    80% {
      opacity: 0.85;
      transform: translateX(10%);
    }
    90% {
      opacity: 1;
      transform: translateX(-5%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  .details__container__list > li {
    animation: details__container__list_blur 1s 5s ease-in forwards;
  }
}

/* 3 */
@media screen and (max-width: 640px) and (max-height: 960px) {
  html,
  body {
    font-size: 14px;
  }

  .text__slaveOfTheCode {
    width: 95%;
  }

  .details__container__list {
    padding-top: 10rem;
  }
}

/* 2 */
@media screen and (max-width: 520px) and (max-height: 800px) {
  html,
  body {
    font-size: 13px;
  }

  .text__slaveOfTheCode {
    font-size: 8rem;
    top: 4rem;
  }
  .details__container__list {
    padding-top: 17rem;
  }

  .ssl__logo {
    flex-direction: column;
  }
}

/* 1 */
@media screen and (max-width: 520px) and (max-height: 480px) {
  html,
  body {
    font-size: 10px;
  }
  .text__slaveOfTheCode {
    font-size: 6rem;
    top: 2rem;
  }

  .details__container__list {
    padding-top: 13rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .details__container__list > li {
    width: 75%;
  }

  .ssl__logo {
    bottom: 0px;
    transform: scale(0.75);
  }
}

@media screen and (max-width: 320px) and (max-height: 568px) {
  html,
  body {
    font-size: 10px;
  }

  body > footer {
    justify-content: flex-end;
  }

  .ssl__logo {
    flex-direction: column;
    left: 0;
    transform: scale(0.75);
  }

  .text__slaveOfTheCode {
    font-size: 6rem;
  }

  .details__container__list {
    width: 100%;
    align-items: center;
  }
  .details__container__list > li {
    width: 75%;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  html,
  body {
    font-size: 10px;
  }

  body > footer {
    justify-content: flex-end;
  }

  .ssl__logo {
    flex-direction: column;
    left: 0;
    transform: scale(0.75);
  }

  .details__container__list {
    width: 100%;
    align-items: center;
  }
  .details__container__list > li {
    width: 75%;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  html,
  body {
    font-size: 12px;
  }

  body > footer {
    justify-content: flex-end;
  }

  .ssl__logo {
    flex-direction: column;
    left: 0;
    transform: scale(0.75);
  }

  .details__container__list {
    width: 100%;
    align-items: center;
  }
  .details__container__list > li {
    width: 75%;
  }
}

/* ----------- iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  html,
  body {
    font-size: 12px;
  }
  .details__container__list {
    padding-top: 24rem;
  }
}

/* ----------- Moto G4 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 3) {
  html,
  body {
    font-size: 12px;
  }
  .text__slaveOfTheCode {
    font-size: 6rem;
  }
  .details__container__list {
    align-items: center;
  }

  .details__container__list > li {
    width: 75%;
  }

  body > footer {
    justify-content: flex-end;
  }
}

/* #endregion */
