<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!--INICIO - Modificado por panel de control para la redireccion de dominios - NO Borrar!!-->
        <!--FIN - Modificado por panel de control para la redireccion de dominios-->
        <!--INICIO - Modificado por panel de control para la redireccion de dominios - NO Borrar!!-->
        <!--FIN - Modificado por panel de control para la redireccion de dominios-->
        <!--INICIO - Modificado por panel de control para la redireccion de dominios - NO Borrar!!-->
        <remove name="slaveofthecode.com" />
        <rule name="slaveofthecode.com" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="^(www.)?slaveofthecode.com(.*)" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" redirectType="Permanent" />
        </rule>
        <!--FIN - Modificado por panel de control para la redireccion de dominios-->
      </rules>
    </rewrite>
  </system.webServer>
</configuration>