* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  transition: all 0.25 0s ease;
}
button,
[type='button'],
[href] {
  cursor: pointer;
}

body {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(128, 128, 128, 0.15));
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

.container {
  height: 100%;
  display: grid;
  grid-template-areas:
    'header'
    'section'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: auto 5fr 1fr;
}

.container > .header {
  grid-area: header;
  text-align: center;
}
.container > .header > .title {
  font-size: 6.5em;
  padding: 10px 1em;
  letter-spacing: 10px;
  font-family: 'Nerko One', cursive;
}

.container > .section {
  grid-area: section;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container > .section > .icon {
  font-size: 10em;
}

.text-inset-shadow {
  box-shadow: inset;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5), 0px -1px 1px rgba(0, 0, 0, 0.5);
}

.text-box-shadow {
  letter-spacing: 20px;
  color: rgb(245 245 245);
  text-shadow: -7.5px 0px 7.5px rgba(255, 255, 255, 1), 2.5px 0px 5px rgba(128, 128, 128, 0.5),
    0px -2.5px 5px rgba(128, 128, 128, 0.5), 0px -7.5px 7.5px rgba(255, 255, 255, 1);
}

/* #region footer  */
.container > .footer {
  grid-area: footer;
  padding: 0.5em;
}
.container > .footer > .text-by {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  letter-spacing: 5px;
}
/* #endregion  */
